.ProductH1 {
    text-align: center;
}
.productContainer {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.product_sorted {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.ProductsCatalogProducts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}