@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Montserrat+Alternates:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*
font-family: 'Comfortaa', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Raleway', sans-serif;


 font-family: 'Raleway', sans-serif;


 scrollbar
*/
:root {
    --colums-count: 5;
    --color-hover-link: rgba(191, 21, 75, 1);
    --color-button: rgba(191, 21, 75, 1);
    --color-button-hover: rgb(236, 19, 88);
}

html[data-theme="light"] {
    --link-color: black;
    --text-color: black;

    --text-fon-color: black;
    --link-fon-color: black;
    --link-fon-color-menu: black;

    --background-color: white;
    --border-color: #b8b8b8;
    --background-color-menu: black;

    --hover-link-color: rgb(250, 1, 1);
    --hover-link-color-menu: rgb(250, 1, 1);
}

html[data-theme="dark"] {
    --link-color: black;
    --text-color: black;

    --text-fon-color: white;
    --link-fon-color: white;
    --link-fon-color-menu: black;

    --background-color: black;
    --border-color: #b8b8b8;
    --background-color-menu: white;

    --hover-link-color: rgba(191, 21, 75, 1);
    --hover-link-color-menu: rgb(250, 1, 1);
}

*,
a,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", cursive;
    font-size: calc((90vw - 470px) / (1980 - 470) * (16 - 10) + 9px);
}
h1{
    font-size: calc((90vw - 470px) / (1980 - 470) * (16 - 10) + 25px); 
}
@media (max-width: 928px) {
    *,
    *::after,
    *::before {
        font-size: calc((90vw - 470px) / (1980 - 470) * (16 - 10) + 15px);
    }
}
a {
    text-decoration: none;
}
a:hover{
    color: var(--hover-link-color);
    transition: 0.5s;
    cursor: pointer;
}
li{
    list-style: none;
}
.row1{
    margin-left: 30px;
    margin-right: 30px;
}
.row2{
    margin-top: 10px;
    margin-bottom: 10px;
}
.icons{
    width: 100%;
    max-width: 23px;
    max-height: 25px;
}
.img{

}