header {
    background-color: var(--background-color);
    color: var(--text-color);
}
.containderHead {
    color: var(--text-fon-color);
    margin: 0 auto;
    width: calc(100% - 30px);
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    padding: 10px 0 0 0;
}
.containderHead a {
    color: var(--link-fon-color);
}
.row {
    margin: 0 auto;
    width: calc(100% - 10px);
    text-align: center;
}
.phone {
    display: block;
    max-width: max-content;
    text-decoration: none;
    margin: 5px 0 5px 0;
    transition: 0.5s;
}
.phone:hover {
    color: var(--color-hover-link);
    transition: 0.5s;
}
.navTopList,
.navTopList2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.navTopList a,
.navTopList2 a {
    margin-left: 13px;
    margin-bottom: 5px;
}
.navTopList a:hover,
.navTopList2 a:hover {
    color: var(--hover-link-color);
    transition: 0.5s;
    cursor: pointer;
}
.orderСall {
    text-align: center;
    display: block;
    border: 1px solid white;
    border-color: var(--border-color);
    border-radius: 0.69231rem;
    width: max-content;
    padding: 5px 10px 5px 10px;
    white-space: nowrap;
}
.time_mork {
    margin-top: 10px;
    opacity: 0.7;
}
.time_mork div {
    font-size: 0.8em;
}
.orderСall:hover {
    cursor: pointer;
    color: var(--hover-link-color);
    border-color: var(--hover-link-colort);
    transition: 0.5s;
}
.rigt-block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.rigt-block div{
    margin: 5px;
}
@media (max-width: 928px) {
    .containderHead {
        grid-template-columns: 1fr;
    }
    .time_mork{
        display: none;
    }
    .navTopList{
       display: none;
    }
}
