.BlockMainImg{
    cursor: pointer;
}
.BlockMainImg::after {
    content: "";
    display: block;
    width: 110%;
    position: relative;
    height: 107%;
    top: -100%;
    left: 10px;
    border: 1px solid #bfbfbf;
    z-index: -1;
    transition: all 500ms ease-in-out;
}

.BlockMainImg:hover::after {
    content: "";
    display: block;
    width: 105%;
    position: relative;
    height: 103%;
    top: -103%;
    left: 10px;
    border: 1px solid #bfbfbf;
    z-index: -1;
    transition: all 500ms ease-in-out;
}
@media (max-width: 698px) {
    .BlockMainImg::after {
        display: none;
    }
}
