.BlockMainImg::after {
    content: "";
    display: block;
    width: 110%;
    position: relative;
    height: 107%;
    top: -100%;
    left: 10px;
    border: 1px solid #bfbfbf;
    z-index: -1;
    transition: all 500ms ease-in-out;
}

.BlockMainImg:hover::after {
    content: "";
    display: block;
    width: 105%;
    position: relative;
    height: 103%;
    top: -103%;
    left: 10px;
    border: 1px solid #bfbfbf;
    z-index: -1;
    transition: all 500ms ease-in-out;
}
@media (max-width: 698px) {
    .BlockMainImg::after {
        display: none;
    }
}
/*Butoon block*/
.BlockMainButton {
    top: 0;
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    border: 1px solid rgb(175, 152, 152);
    background-color: white;
}
.BlockMainButton::before {
    margin-top: -13px;
    margin-left: -13px;
    content: "";
    display: block;
    width: 110%;
    height: 110%;
    border: 1px solid rgb(175, 152, 152);
}

.BlockMainButton h4 {
    font-size: 19px;
    margin-top: -80%;
    opacity: 0.7;
}
.BlockMainButton h4::after {
    content: "";
    display: block;
    border: 1px solid black;
    width: 50%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
}

.BlockMainButton button {
    margin-top: 30px;
}
@media (max-width: 698px) {
    .BlockMainButton {
        min-width: 250px;
        min-height: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    .BlockMainButton button{

    }
}
