.BlockMain2 {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
}
.BlockMain2Img1 img {
    width: 200px;
    height: 300px;
}
.BlockMain2Img2 img {
    width: 200px;
    height: 400px;
}
.BlockMain2Btn {
   
 
}
